#all {
    background-image: url("../img/background.jpg");
    background-color: black;
    overflow: auto;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}